body{
	font-size:14px;
}
#progress{
	left:0px;
	top:0px;
	position:absolute;
	width:388px;
	height:300px;
}
#cloudPic{
	margin-top:15px;
	width:156px;
	height:103px;
}
.cloudpic{
	background:url(../images/cloud1.png) no-repeat 0 0;
}
.cloudpic1{
	background:url(../images/cloud.png) no-repeat 0 0;
}
#progressBar{
	width:300px;
	height:11px;
	margin-left:50px;
}
#uploaded{
	margin-top:8px;
	height:11px;
	width:300px;
}
.uploadPic{
	background:url(../images/progressBar.gif) no-repeat 0 0;
}
.uploadPic1{
	background:url(../images/progressBar1.gif) no-repeat 0 0;
}
#info{
	width:300px;
	margin-left:50px;
	padding-left:25px;
	margin-top:8px;
	color:#075776;
}
#timeStr{
	color:#075776;
	font-size:12px;
}
#endtime{
	color:red;
}
.sure,
.cancel{
	width:60px;
	height:25px;
	border:none;
	cursor:pointer;
}
.sure{
	background:url(../../../loreManager/images/allPic.png) no-repeat;
	color:#fff;
	background-position:-351px -66px;
}
.sure:hover{
	background-position:-411px -66px;
}
.cancel{
	background:#d8d2c6;
	border:1px solid #bfb9b9;
	color:#2C4977;
}
.cancel:hover{
	text-decoration:underline;
}