body{
	overflow:hidden;
	position:relative;
}
/* 当前版本 */
.nowLoc{
	width:100%;
	height:0.50rem;
	line-height:0.50rem;
	background:#64ccf2;
	color:#fff;
	position:relative;
	text-indent:32px;
	z-index:2;
}
.backIcon{
	width:30px;
	height:0.50rem;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../images/backIcon.png) no-repeat center;
}
.nowLoc h2{
	font-weight:normal;
	font-size:0.16rem;
}
/* 五步学习法导航 */
.studyNavWrap{
	background:#fff;
	position:relative;
	border-bottom:1px solid #d6d5d8;
}
.studyNav,
.moveCirWrap{
	width:95%;
	margin:0 auto;
	height:74px;
}
.studyNav{
	z-index:3;
	position:relative;
}
.moveCirWrap{
	z-index:2;
	position:absolute;
	left:50%;
	margin-left:-47.5%;
	top:0px;
}
.studyNav li{
	height:100%;
	float:left;
	position:relative;
}
.stepTit,
.moveCir{
	width:40px;
	height:40px;
	border-radius:50%;
	text-align:center;
	position:absolute;
	
	top:8px;
	color:#fff;
}
.stepTit{
	background:#cecece;
	line-height:40px;
	font-size:0.20rem;
	left:50%;
	margin-left:-20px;
}
#consoSpan{
	/**font-size:0.16rem;**/
}
.moveCir{
	z-index:2;
	left:50%;
	margin-left:-20px;
}
.studyNav li.active .stepTit,
.moveCir{
	background:#64ccf2;
}
.stepTitTxt{
	font-size:0.14rem;
	color:#666;
	text-align:center;
	padding-top:50px;
}
.throughLine,
.moveLine{
	height:2px;
	position:absolute;
	left:30px;
	top:28px;
	z-index:1;
}
.moveLine{
	width:0px;
	z-index:2;
	background:#64ccf2;
}
.throughLine{
	width:80%;
	z-index:1;
	background:#cecece;
}
#moveDiv{
	height:100%;
	position:relative;
}
@media all and (min-width:390px) and (max-width:450px){
	.throughLine,
	.moveLine{
		left:38px;
	}
}
@media all and (min-width:451px) and (max-width:550px){
	.throughLine,
	.moveLine{
		left:46px;
	}
}
@media all and (min-width:551px) and (max-width:630px){
	.throughLine,
	.moveLine{
		left:55px;
	}
}
@media all and (min-width:631px) and (max-width:670px){
	.throughLine,
	.moveLine{
		left:61px;
	}
}
@media all and (min-width:671px) and (max-width:705px){
	.throughLine,
	.moveLine{
		left:65px;
	}
}
@media all and (min-width:706px) and (max-width:755px){
	.throughLine,
	.moveLine{
		left:70px;
	}
}
@media all and (min-width:756px) and (max-width:780px){
	.throughLine,
	.moveLine{
		left:73px;
	}
}
@media all and (min-width:781px) and (max-width:796px){
	.throughLine,
	.moveLine{
		left:75px;
	}
}
@media all and (min-width:797px) and (max-width:910px){
	.throughLine,
	.moveLine{
		width:78%;
		left:90px;
	}
}
@media all and (min-width:911px) and (max-width:1024px){
	.throughLine,
	.moveLine{
		width:78%;
		left:103px;
	}
}



/* 五步学习核心内容 */
#studyInfo{
	width:100%;
	background:#fff;
}
#videoBox{
	width:100%;
	height:100%;	
}
/* 点拨指导 */
#guideCon,
#knowledgeCon,
#solveExampleCon{
	width:95%;
	margin:10px auto 0px;
	position:relative;
}
#guideScroll,
#knowledgeScroll,
#solveExampleScroll{
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);	
}
.headTitle{
	color:#666;
	font-size:0.16rem;
	text-indent:18px;
	position:relative;
}
.targetIcon{
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:1px;
	background:url(../images/whole.png) no-repeat 0 -256px;
}
.createDiv{
	width:100%;
	margin:5px 0 5px 0px;
	font-size:0.14rem;
	color:#666;
}
.comSpanTit{
	font-weight:bold;
}
.comSpanTitCon{
	display:inline-block;
}
.conTit{
	margin-top:3px;
}
.conWrap p,
.conWrap_1 p{
	line-height:22px;
}
.comSpanTitCon p img{
	margin:3px 0px;
}
/* 解题示范 */
.exampleQues{
	width:100%;
	margin-bottom:10px;
}
.typeTit{
	position:relative;
	text-indent:21px;
	font-size:0.18rem;
	color:#666;
	margin:0px 0 5px 0px;
}
.subTitIcon{
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:3px;
	background:url(../images/whole.png) no-repeat -30px -151px;
}
.subQuesCon{
	width:100%;
	font-size:0.16rem;
	color:#666;
}
.selfSoloveBox{
	position:relative;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	color:#666;
	font-size:0.16rem;
	padding:8px 0px;
	margin-bottom:5px;
}
.noBorTop{
	border-top:none;
}
.topTri{
	border:6px solid #fff;
	border-top-color:#c8c8c8;
	right:0.1rem;
	top:20px;
}
.leftTri{
	border:6px solid #fff;
	border-left-color:#64ccf2;
	right:0.1rem;
	top:12px;
}
.selAns,
.relAns{
	font-size:0.14rem;
	color:#666;	
}
.selAns p{
	border-bottom:1px solid #dfdfdf;
	text-indent:20px;
	padding:8px 0px;
	position:relative;
}
.cirSpan,
.cirSpan_1{
	width:8px;
	height:8px;
	position:absolute;
	top:14px;
	background:#666;
	border-radius:50%;
}
.cirSpan{
	left:6px;
}
.cirSpan_1{
	left:0px;
}
.relAns_answ{
	border-bottom:1px solid #dfdfdf;
	position:relative;
	padding:8px 0px;
	color:#666;
}
.relAns_answ .ansTxt{
	font-weight:bold;
	text-indent:12px;
	display:inline-block;
}
/* 答题区域 */
#questionInfo{
	overflow:hidden;
}
#questionList{
	background:#f3f2f6;
}
#questionList li{
	float:left;
	height:100%;
	opacity:0;
}
.loreTypeTit{
	background:#fff;
	padding:10px 10px 5px 10px;
	border-bottom:1px solid #d8d8d8;
}
.loreTypeNum{
	height:26px;
	line-height:26px;
	display:inline-block;
	font-size:0.30rem;
	color:#666;
	font-family:"Aparajita";
	position:relative;
	z-index:2;
}
.loreTypeTxt{
	display:inline-block;
	height:26px;
	line-height:26px;
	padding:0 6px;
	background:#64ccf2;
	color:#fff;
	position:relative;
	font-size:0.16rem;
	border-radius:0 3px 3px 0px;
	margin:0px 8px 5px 14px;
}
.loreTypeTxt em{
	position:absolute;
	border:13px solid #fff;
	border-right-color:#64ccf2;
	left:-26px;
	top:0px;
}
.loreTypeTxt i{
	width:8px;
	height:8px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	left:-5px;
	top:9px;
}
.quesTit p{
	color:#666;
	line-height:26px;
	word-break:break-all;
	word-wrap:break-word;
}
.quesTit p img{
	margin:5px 0px 5px 0px;
}
.optionDd{
	padding:16px 10px 5px 10px;
	position:relative;
}
.answerOptions{
	width:100%;
	position:absolute;
	left:0px;
	top:16px;
	z-index:2;
}
.answerOptions .comChoiceLabel{
	width:100%;
	display:inline-block;
	margin-bottom:10px;
	min-height:40px;
	opacity:0;
	text-align:center;
}
/* 五步学习下的巩固训练--填空选择题st */
.answerOptions_space{
	border-top:1px solid #d8d8d8;
	margin-top:20px;
	padding-top:5px;
}
.optionPar{
	width:100%;
	line-height:38px;
	color:#666;
	margin-bottom:10px;
}
.optionBox{
	width:20px;
	height:20px;
	margin:7px 0 0 20px;
	border:1px solid #999;
	position:relative;
	border-radius:50%;
	float:left;
}
@media all and (max-width:320px){
	.optionBox{
		width:20px;
		height:20px;
		margin:7px 0 0 20px;
	}
}
@media all and (min-width:321px) and (max-width:350px){
	.optionBox{	
		margin-left:22px;
	}
}
@media all and (min-width:351px) and (max-width:380px){
	.optionBox{	
		margin-left:26px;
	}
}
.current{
	border:1px solid #44A9CE;
}
.optionBox .spaceAnsRadio{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
}
.spacSpanLabel{
	position:absolute;
	left:-15px;
	top:-8px;
}
.optionBox b{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#44A9CE;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-5px;
	margin-top:-5px;
}
.myAnsOpt{
	font-size:0.16rem;
	color:#666;
	margin-top:16px;
	position:relative;
}
.myAnsTxt{
	float:left;
}
.errStateSpan,
.rightStateSpan,
.iconState_suc,
.iconState_err{
	height:20px;
	float:left;
	margin-left:5px;
}
.iconState_err{
	margin-top:3px;
}
.errStateSpan,
.iconState_err{
	width:20px;
	background:url(../images/whole.png) no-repeat 0 -125px;
}
.rightStateSpan,
.iconState_suc{
	width:25px;
	background:url(../images/whole.png) no-repeat -25px -125px;
}
/* 五步学习下的巩固训练--填空选择题end */

.tishiBox,
.relAnsBox{
	border-bottom:1px solid #d8d8d8;
	background:#fff;
	font-size:0.14rem;
	color:#666;
	margin-top:-16px;
	position:relative;
	padding:10px;
	line-height:25px;
}
.myAnsRes{
	background:#fff;
	margin-top:-16px;
	line-height:25px;
	color:#666;
}
.tishiBox{
	text-indent:28px;
}
.relRightAnsTxt{
	font-weight:bold;
}
.tishiIcon,
.warnningIcon{
	width:24px;
	height:26px;
	background:url(../images/whole.png) no-repeat 0 -145px;
	position:absolute;
}
.tishiIcon{
	left:10px;
	top:8px;
}
.warnningIcon{
	left:165px;
	top:-3px;
}
.choiceTxt{
	display:inline-block;
	margin-left:32px;
	line-height:24px;
}
.myRealAnsBox{
	margin-top:10px;
	position:relative;
}
.optionBox_Que{
	width:25px;
	height:25px;
	background:url(../images/whole.png) no-repeat 0 -100px;
	position:relative;
	float:left;
	margin-left:15px;
	margin-right:5px;
}
.optionBox_Que input{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
}
.rightSpan,
.errorSpan{
	position:absolute;
	left:-16px;
	top:0px;
}
.optionBox_Que b{
	width:15px;
	height:15px;
	position:absolute;
	left:5px;
	top:5px;
	background:url(../images/whole.png) no-repeat -35px -100px;
}

.optionDiv{
	border:1px solid #d8d8d8;
	margin-bottom:10px;
	border-radius:6px;
	position:relative;
	z-index:1;
	background:#fff;
}
.optionWrod{
	display:inline-block;
	width:40px;
	min-height:40px;
	text-align:center;
	background:#efefef;
	color:#666666;
	border-radius:6px 0px 0px 6px;
	float:left;
}
.choice_act{
	background:#c6c6c6;
}
.optionDetailTxt{
	background:#fff;
	padding:0 8px;
	color:#666;
	float:left;
	font-size:0.14rem;
	border-radius:0px 6px 6px 0px;
}
.questionWrap{
	position:relative;
}
.scroller{
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/* 提交答案 */
.submitOption{
	height:40px;
	line-height:40px;
	display:none;
	opacity:0;
}
.submitDiv{
	margin-left:10px;
	position:relative;
}
.submitDiv .goNextBtn{
	display:inline-block;
	height:100%;
	background:#64ccf2;
	color:#fff;
	text-align:center;
	border-radius:6px;
	font-size:0.20rem;
	margin-left:50px;
}
.submitErrorA{
	width:40px;
	height:40px;
	background:url(../images/subError.png) no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	background-size:cover;
	border-radius:6px;
}
.errorState{
	background:#fb5151;
	color:#fff;
	font-weight:bold;
}
.rightState{
	background:#64ccf2;
	color:#fff;
	font-weight:bold;
}
/* 回答正确或者错误的提示信息和正确后金币奖励信息 */
#tipInfoBox{
	width:100%;
	height:100px;
	position:absolute;
	left:0px;
	bottom:0px;
	/*bottom:-150px;
	display:none;*/
	z-index:6;
	color:#fff;
	font-size:0.18rem;
	text-align:center;
	line-height:28px;
	transition:0.5s ease-out;
	-webkit-transition:0.5s ease-out;
	-webkit-transform:translateY(150px);
	transform:translateY(150px);
}
.rightInfo{
	background:#64ccf2;
}
.errorInfo{
	background:#fb5151;
}
#tipFace{
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	left:35px;
	top:-50px;
	box-shadow:3px 3px 8px #595959; 
}
.rigFace{
	background:#64e6f2;
}
.errFace{
	background:#ffe400;	
}
#facePic{
	width:60px;
	height:70px;
	position:absolute;
	left:10px;
	top:5px;
}
.rigFacePic{
	background:url(../images/rightFace.png) no-repeat;
}
.errFacePic{
	background:url(../images/errorFace.png) no-repeat;
}
/* 圆环 */
.comCirSpan{
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	
	border-radius:50%;
}
#criLeft,
#cirLeft_i{
	clip:rect(0,20px,auto,0);	
}
#criRight,
#cirRight_i{
	clip:rect(0,auto,auto,20px);
}
#cirRight_i,
#cirLeft_i{
	background:#64ccf2;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}
#cirLeft_i{
	background:#64ccf2;
}
#maskSpan{
	width:36px;
	height:36px;
	background:#fff;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:50%;
	line-height:36px;
	text-align:center;
	color:#006a91;
}
#maskSpan i{
	font-style:normal;
}
/* 我要纠错div */
.errorDivWrap{
	width:100%;
	background:#fff;
	position:absolute;
	left:0px;
	top:50px;
	z-index:100;
	-webkit-transition:0.5s;
	transition:0.5s;
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}
.errInfoTxt{
	/*width:650px;*/
	height:35px;
	line-height:35px;
	background:#f3f2f6;
	font-size:0.14rem;
	color:#ffae00;
	overflow:hidden;
	padding-left:8px;
}
.infoWid{
	width:650px;
}
.errInfoTxt p{
	text-indent:8px;
	position:relative;
}
.errInfoMove{
	-webkit-animation:12s move infinite linear;
	animation:12s move infinite linear;
}
@-webkit-keyframes move{
	0%{
		left:0px;
	}
	100%{
		left:-650px;
	}
}
@keyframes move{
	0%{
		left:0px;
	}
	100%{
		left:-650px;
	}
}
.errInfoTxt p span{
	width:6px;
	height:6px;
	border-radius:50%;
	background:#ffae00;
	position:absolute;
	left:0px;
	top:15px;
}
.closeSpan{
	width:42px;
	height:35px;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/closeError.png) no-repeat;
	background-size:cover;
	z-index:2;
}
.comErrDiv{
	border-bottom:1px solid #e7e7e7;
	text-indent:8px;
	font-size:0.14rem;
	color:#666;
}
.errTitDiv{
	height:39px;
	line-height:40px;
}
.errQueType{
	line-height:40px;
}
.comErrLabel{
	width:47%;
	height:40px;
	line-height:40px;
	float:left;
	text-indent:0px;
	position:relative;
}
.comErrLabel:nth-of-type(2n){
	margin-left:10px;
}
.selSpan{
	width:20px;
	height:20px;
	background:url(../../buffetSend/images/checkInp.png) no-repeat 0 0;
	position:absolute;
	background-size:cover;
	top:10px;
	left:75px;
}
.choiceActive{
	width:11px;
	height:11px;
	background:url(../../buffetSend/images/active.png) no-repeat 0 0;
	position:absolute;
	left:4px;
	top:4px;
	background-size:cover;
}
.comErrInp{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
}
.eidtCon{
	line-height:28px;
	position:relative;
}
.editTxtarea{
	width:92%;
	height:130px;
	color:#666;
	margin:5px 0px;
	border:none;
	font-size:0.14rem;
}
.editTxtarea::-webkit-input-placeholder{
	color:#999;
}
.subErrDiv{
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:15px;
}
.subErrDiv div{
	width:90%;
	height:100%;
	margin:0 auto;
}
.comErrBtn{
	width:50%;
	height:100%;
	display:inline-block;
	color:#fff;
	font-size:0.18rem;
	text-align:center;
	float:left;
}
.maxTxtNum{
	font-size:12px;
	position:absolute;
	left:0px;
	bottom:0px;
	color:#cbcbcb;
}
.subBtn{
	background:#64ccf2;
}
.cancelBtn{
	background:#4e4e4e;
}
.botTip{
	background:#dbdbdb;
	font-size:0.12rem;
	position:absolute;
	left:0px;
	bottom:0px;
	color:#666;
}
.botTip p{
	padding:5px;
}
.oneBlank{
	width:5px;
	display:inline-block;
}
.twoBlank{
	width:42px;
	display:inline-block;
}
/* ------底部答题卡区域st------ */
#botCardBox{
	width:100%;
	background:#fff;
	position:absolute;
	left:0px;
	z-index:5;
	color:#999999;
	border-top:1px solid #d5d5d5;
	display:none;
}
#botCard{
	width:100%;
}
.closeBot{
	width:45px;
	height:100%;
	position:absolute;
	right:0px;
	top:0px;
}
.closeBotIcon{
	width:30px;
	height:30px;
	background:url(../images/whole.png) no-repeat -18px -261px;
	position:absolute;
	left:10px;
	top:12px;
}
.shadow{
	width:6px;
	height:52px;
	position:absolute;
	left:-6px;
	top:0px;
	background:url(../images/shadow.png) no-repeat;
	display:none;
}
.tabNav{
	margin-left:10px;
	padding:10px 0px 0px;
	float:left;
	overflow:auto;
}
.tabNav li{
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #d5d5d5;
	float:left;
	position:relative;
	margin:0px 10px 10px 0;
	border-radius:50%;
}
.tabNav li span{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border-radius:50%;
}
.tabNav li.active{
	background:#e5e5e5;
}
.errorState_queNum{
	background:#fce8e8;
	color:#fb5151;
}
.rightState_queNum{
	background:#e7f7fd;
	color:#64ccf2;
}
/* 显示隐藏答题卡 */
.showHideBtn{
	width:40px;
	height:40px;
	position:absolute;
	right:0px;
	bottom:0px;
	background:url(../images/more1.png) no-repeat;
	display:none;
	opacity:0;
}
/* ------底部答题卡区域end------ */
#buttonInfo{
	width:95%;
	height:40px;
	line-height:40px;
	text-align:center;
	display:block;
	margin:0px auto 0px;
	background:#64ccf2;
	color:#fff;
	font-size:0.18rem;
	border-radius:6px;
}